.table {
    width: 850px;
    height: 100%;
    margin: 0 auto;
    margin-top: 75px;
    padding: 10px;
    border: 1px solid var(--font-color-base);
    border-radius: 5px;
    background: var(--background-gray);
    color: var(--font-color-base);
}