@import './base/normalize';
@import './base/variables';

* {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    width: 991px;
    margin: 0 auto;
}

